.div_menu{
    background-color: #287d7d;
    padding: 10px;
    width: 15%;

    box-shadow: #1c344c 0px 10px;
    border-radius: 10px;
    height: 290px;
}

.div_menu h4{
    color: #ffffff;
    text-align: center;
}

.div_menu li{
    list-style: none;
    color: #ffffff;
    cursor: pointer;

    font-style: italic;
    border-radius: 5px;
    margin: 10px;

    padding: 1px;
}

.div_menu li:hover{
    border: solid #ffffff 1px;
    box-shadow: #1c344c 0px 5px;
}
